@import 'setup';

body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	@include heading($white);
}

#start {
	width: 100vw;
	height: 100vh;
	background-color: $blue;

	.home-btn {
		@include round-btn($white);
	}

	.container {
		@include centerXY();
		width: 560px;

		h1 {
			text-align: center;
		}

		.data-msg {
			margin: 0;

			ul {
				margin: 0;
			}
		}

		div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top:20px;

			button {
				@include corner-btn($white, 45%);
			}
		}

		button {
			@include corner-btn($white, 100%);
		}

		/*SUBSCRIBER*/
		p {
			margin-top: 20px;
			height: 20px;
		}

		#sub-num-form {
			display: flex;
			justify-content: space-between;

			input {
				width: 75%;
				height: 35px;
				border: none;
				background-color: $blue;
				border-bottom: 2px solid $white;
				margin-top: 20px;
				@include regularfont();
				color: $white;

				&:focus {
					outline: none;
				}

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: rgba(255,255,255,0.6);
				  @include regularfont();
				}
			}

			#sub-nr {
				@include corner-btn($white, 20%);
			}
		}

		/*SUBSCRIBER DATA*/
		table {
			width: 100%;
			margin-top: 30px;

			td {
				text-align: left;
				@include regularfont();
				color: $white;
				margin-left: 10px;
				height: 35px;
				width: 270px;

				input {
					height: 25px;
					@include regularfont();
					color: black;
					
					&:focus {
						outline: none;
					}
				}

				textarea {
					height: 55px;
					border: none;
					@include regularfont();
					color: black;
					
					&:focus {
						outline: none;
					}
				}
			}

			.right {
				text-align: right;
				margin-right: 10px;
			}
		}
	}
}

