<%- include layouts/header.ejs %>
	<section id="start">
		<div class="container">
			<h1><%= title %></h1>
			<div id="button-container">
				<button onclick="company()">Företag</button>
				<button onclick="subscriber()">Prenumerant</button>
			</div>
			<button onclick="seeAds()">Se annonser</button>
		</div>
	</section>
<%- include layouts/footer.ejs %>